dlib==19.24.9
facenet_pytorch==2.6.0
fire==0.7.0
Flask==3.1.1
flask_cors==5.0.1
gdown==5.2.0
insightface==0.7.3
keras==3.9.2
matplotlib==3.10.3
mediapipe==0.10.21
mtcnn==1.0.0
numpy==1.25.2
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
packaging==25.0
pandas==2.2.3
Pillow==11.2.1
pytest==8.3.5
rembg==2.0.65
Requests==2.32.3
retina_face==0.0.17
setuptools==75.6.0
tensorflow==2.19.0
tf_keras==2.19.0
torch==2.7.0
tqdm==4.67.1
ultralytics==8.3.139
Werkzeug==3.1.3
